{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="row mt-5 text-bg-light border border-black rounded mb-1"><!--Header Start-->

  <div class="col-md-4 mt-3"><!--Section 1-->

    <h4>Sneakerhead Pvt Ltd</h4>
    <p>4th floor, Future Tower</p>
    <p>Magarpatta</p>
    <p>Hadapsar</p>
    <p>Pune</p>
  </div>

  <div class="col-md-4 mt-3"><!--Section 2-->
    <h4>Quick links</h4>
    <p><a href="/about" class="link-dark link-offset-2 link-underline link-underline-opacity-0">About</a></p>
    <p><a href="/contact" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Contact</a></p>
    <p><a href="/" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Home</a></p>
  </div>

  <div class="col-md-4 mt-3"><!--Section 3-->
    <h4>Connect Us</h4>
    <p><a href="https://www.facebook.com"
        class="bi bi-facebook link-dark link-offset-2 link-underline link-underline-opacity-0"> Facebook</a></p>
    <p><a href="https://www.instagram.com"
        class="bi bi-instagram link-dark link-offset-2 link-underline link-underline-opacity-0"> Instagram</a></p>
    <p><a href="https://www.twitter.com"
        class="bi bi-twitter link-dark link-dark-offset-2 link-underline link-underline-opacity-0"> Twitter</a></p>


  </div>

  <div>
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3">
        Copyright © 2023
        <a class="text-dark" href="/">Sneakerhead</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>




</div>





<Script src="{% static 'js/popper.js' %}"></Script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>



</html>