{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="css/bootstrap-icon.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Changa+One:ital@1&family=Cinzel+Decorative&family=Graduate&family=Grenze+Gotisch:wght@300&family=La+Belle+Aurore&family=Rye&display=swap"
    rel="stylesheet">
  <!--  -->

  <title>Sneakerhead|Home</title>
</head>

<body>


  <p class="fs-6 mt-2 mx-auto fw-medium" style="text-align: center;">Welcome to Sneakerhead</p>
  <div class="container">

    <div class="row mt-3">
      <div class="col-md-12">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <img src="media/logo.jpg" alt="Bootstrap" width="75" height="40">

            <h2><strong style="font-family:Grenze Gotisch;"><a class="navbar-brand text-dark ms-3 fs-4">Sneakerhead</a>
            </h2></strong>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="/about">About</a>
                </li>


                <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li> -->

                <li class="nav-item">
                  <a class="nav-link text-dark" href="/contact">Contact</a>
                </li>

                {% if user.is_authenticated %}

                <li class="nav-item">
                  <a class="nav-link text-dark" href="/logout">Logout</a>
                </li>

                {% else %}


                <li class="nav-item">
                  <a class="nav-link text-dark" href="/register">Register</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-dark" href="/login">Login</a>
                </li>

                {% endif %}



              </ul>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <h3><a class="nav-link active bi bi-cart-check text-dark" aria-current="page" href="/viewcart"></a>
                  </h3>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2 border border-primary" type="search" placeholder="Search"
                  aria-label="Search">
                <button class="btn btn-outline-success bi-search" type="submit"></button>
              </form>
            </div>

          </div>
        </nav>
      </div>
    </div>

    <!--nav bar end-->


    <!-- Body  -->





    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.js"></script>

</body>

</html>